<!--Footer-->
<footer class="page-footer indigo center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="mailto:ap354@snu.edu.in"> Anonymous Assembly </a>

      <span style="float:right">
        <i class="fa fa-globe"></i>
        Website:
        <a href="https://github.com/AKhileshPothuri/dell-comm" target="blank">Anonymous Assembly</a>
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->